
/*my ux skills section coded using CSS flex*/

.flexContainer {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    
    
}

.uxresearch {
width: 33%;
padding:25px;
margin-left: 10%;
}


.usercentricdesign {
width: 33%;
padding: 25px;
margin-left: 10%;
}

.agile {
width: 33
padding: 25%;
margin-left: 10%;
}

.agile p {
width: 33%;
}

/*my work section constructed using CSS grid*/

.workGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-left: 10%;

    grid-template-areas:
    'nonprofitimage nonprofitcontent'
    'fedwebimage fedwebcontent'
    'casestudyimage casestudycontent'

}

.nonprofitimage {
    grid-area: nonprofitimage;
    margin-top: 5%;
}

.nonprofitcontent {
    grid-area: nonprofitcontent;
    margin-right: 10%;
    margin-top: 3%;
}

.fedwebimage {
    grid-area: fedwebimage;
}

.fedwebcontent {
    grid-area: fedwebcontent;
    margin-right: 10%;
}

.casestudyimage {
    grid-area: casestudyimage;
}

.casestudycontent {
    grid-area: casestudycontent;
    margin-right: 10%;
}


h1 {
    text-align: center;
}


