
/*my ux skills section coded using CSS flex*/

.flexContainer {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    
}

.uxresearch {

padding:25px;
margin-left: 10%;
}


.usercentricdesign {

padding: 25px;
margin-left: 10%;
}

.agile {

padding: 25px;
margin-left: 10%;
}

.agile p {

}

/*my work section constructed using CSS grid*/

.workGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-left: 10%;

    grid-template-areas:
    'nonprofitimage nonprofitcontent'
    'fedwebimage fedwebcontent'
    'casestudyimage casestudycontent'

}

.nonprofitimage {
    grid-area: nonprofitimage;
    margin-top: 5%;
}

.nonprofitcontent {
    grid-area: nonprofitcontent;
    margin-right: 10%;
    margin-top: 3%;
}

.fedwebimage {
    grid-area: fedwebimage;
}

.fedwebcontent {
    grid-area: fedwebcontent;
    margin-right: 10%;
}

.casestudyimage {
    grid-area: casestudyimage;
}

.casestudycontent {
    grid-area: casestudycontent;
    margin-right: 10%;
}


h1 {
    text-align: center;
}


@media only screen and (max-width: 600px) {
    
    .flexContainer {
        flex-direction: column;
    }

    .uxresearch {
        width: 100%;

    }

    .usercentricdesign {
        width: 100%;

    }

    .agile {
        width: 100%;

    }

    .workGrid {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px;
    
        grid-template-areas:
        "nonprofitimage"
        "nonprofitcontent"
        "fedwebimage"
        "fedwebcontent"
        "casestudyimage" 
        "casestudycontent"
    
    }
}